<app-navigation-header title="Webcam"></app-navigation-header>

<ion-content [fullscreen]="true">
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-container">
      <div class="hero-image">
        <img src="assets/icon/seccion 1.png" alt="Web Cam" />
      </div>
      <div class="hero-content">
        <h1>Web Cam <br>& estancia</h1>
        <p>Mira como se encuentra tu mascota mediante el servicio de llamadas en vivo.</p>
        <ion-button class="primary" (click)="openWebCam()">Web Cam</ion-button>
      </div>
    </div>
  </section>
</ion-content>
